html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
}
body>table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0px;
  margin: 0px;
}
body>table th {
  vertical-align: top;
}
body>table td {
  vertical-align: top;
}
#menu-wrapper {
  width: 20em;
  height: 100%;
}
#main-wrapper {
  background: #fffcf0;
  padding-bottom: 2px;
  overflow: hidden;
  height: 100%;
  display: block;
}
#foot-wrapper {
  height: 44px;
  border-top: 5px solid #aaa;
}
#divider {
  width: 5px;
  background: #aaa;
}
.floating {
  float: left;
}
.floating:after, .floating:before {
  content: "";
  clear: both;
  display: block;
}

#title {
  font-size: 32pt;
  position: fixed;
  left: 4px;
  bottom: 0px;
  padding: 0px;
  margin: 12px;
}

li {
  margin-bottom: 5px;
}
