.toolbox {
  width: 40px;
  height: 40px;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#garbageCan img {
  vertical-align: middle;
}
#handleVisible:hover {
  cursor: pointer;
}
#bring-to-front:hover, #send-to-back:hover {
  cursor: pointer;
}
#text-item-droppable:hover, .shape-item-droppable:hover {
  cursor: pointer;
}

